/* main css Imobanco Theme */   
    .page-enter-active, .page-leave-active {
    transition: linear .5s
    }
    .page-enter, .page-leave-active {
      opacity: 0
    }

    .container-fluid{
        margin: 0px !important;
        padding: 0px !important;
    }

   
    .newsletter{
        padding: 0px !important;
        margin: 0px !important;
    }
    .blog{
        height: 400px;
    }
    
    .depoimentos{
        height: 300px;
    }
    .footer{
        height: 300px;
    }
    /* Background color */
    .bg-imobanco{
        background-color: #003e69 !important;
    }
    .bg-primary{
        background-color: #212121 !important;
    }
    .bg-secondary{
        background-color: #0e153a !important;
    }
    .bg-success{
        background-color: #21e6c1 !important;
    }
    .bg-danger{
        background-color: #ff304f !important;
    }
    .bg-warning{
        background-color: #ffd615 !important;
    }
    .bg-info{
        background-color: #304ffe !important;
    }

    .bg-dark{
        background-color: #0d47a1 !important;
    }
    .bg-light{
        background-color: #1565c0 !important;
    }
    .bg-medium{
        background-color: #3d5af1 !important;
    }
    .bg-new{
        background-color: #22d1ee !important;
    }
    .bg-cinza{
        background-color: ;
    }

    /* Background color */
    .text-primary{
        background-color: #212121 !important;
    }
    .text-imobanco{
        background-color: #003e69 !important;
    }
    .text-secondary{
        background-color: #0e153a !important;
    }
    .text-success{
        background-color: #21e6c1 !important;
    }
    .text-danger{
        background-color: #ff304f !important;
    }
    .text-warning{
        background-color: #ffd615 !important;
    }
    .text-info{
        background-color: #304ffe;
    }

    .text-dark{
        background-color: #0d47a1;
    }
    .text-light{
        background-color: #1565c0;
    }
    .text-medium{
        background-color: #3d5af1;
    }
    .text-new{
        background-color: #22d1ee;
    }
    .button-radius{
        border-radius: 30px !important;
        border: 1px #06cece solid !important;
    }
    .form-control{
        border-radius: 30px !important;
        border: 1px #06cece solid !important;
        background-color: 
    }
    .control-form{
        background-color: rgba(6,0,101,0.1) !important;
    }
    .text-titulo{
        font-family: 'Poppins', sans-serif;
    ;
        font-weight: 700;
    }
    .text-subtitulo{
        font-family: 'Poppins', sans-serif;
    
        font-weight: 400;
    }
    .text-content{
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    .bg-nav{
    background-color: rgba(10,23,55,0.0) !important;    
    }

    .icon-text{
        font-size: 25px;
    }
    


