/* main css Imobanco Theme */   
    .page-enter-active, .page-leave-active {
    transition: linear .5s
    }
    .page-enter, .page-leave-active {
      opacity: 0
    }

    .container-fluid{
        margin: 0px !important;
        padding: 0px !important;
    }
    .btn-radius{
        border-radius: 30px !important;
    }
    .linestyle{
        margin: 0px;
        border-bottom: 1px solid #06cece;
    }
    .linestyle-sidebar{
        margin: 0px;
        border-bottom: 1px solid #b0bec5;
    }
    .linetitulo{
        margin: 0px;
        padding: 0px;
        border-bottom: 3px solid #304ffe;
    }
    .navbar-light .navbar-toggler {
    color: #ffffff;
    border-color: #22d1ee;
    }
    /* .navbar-light .navbar-toggler-icon {
        background-image: url("");
    } */
    .newsletter{
        padding: 0px !important;
        margin: 0px !important;
    }
    .blog{
        height: 400px;
    }
    
    .depoimentos{
        height: 300px;
    }
    .footer{
        height: 300px;
    }
    /* Background color */
    .bg-imobanco{
        background-color: #003e69 !important;
    }
    .bg-primary{
        background-color: #212121 !important;
    }
    .bg-secondary{
        background-color: #0e153a !important;
    }
    .bg-success{
        background-color: #21e6c1 !important;
    }
    .bg-danger{
        background-color: #ff304f !important;
    }
    .bg-warning{
        background-color: #ffd615 !important;
    }
    .bg-info{
        background-color: #304ffe !important;
    }

    .bg-dark{
        background-color: #0d47a1 !important;
    }
    .bg-light{
        background-color: #1565c0 !important;
    }
    .bg-medium{
        background-color: #3d5af1 !important;
    }
    .bg-new{
        background-color: #22d1ee !important;
    }
    .bg-cinza{
        background-color: #eceff1 !important;
    }
    .bg-cinza-1{
        background-color: #cfd8dc !important;
    }
    .bg-cinza-2{
        background-color: #b0bec5 !important;
    }

    /* Background color */
    .text-primary{
       color: #212121 !important;
    }
    .text-imobanco{
       color: #003e69 !important;
    }
    .text-secondary{
       color: #0e153a !important;
    }
    .text-success{
       color: #21e6c1 !important;
    }
    .text-danger{
       color: #ff304f !important;
    }
    .text-warning{
       color: #ffd615 !important;
    }
    .text-info{
       color: #304ffe !important;
    }

    .text-dark{
       color: #0d47a1 !important;
    }
    .text-light{
       color: #1565c0 !important;
    }
    .text-medium{
       color: #3d5af1 !important;
    }
    .text-new{
        color: #22d1ee !important;
    }
    .text-white{
        color: #ffffff !important;
    }
    .text-cinza{
        color: #37474f !important;
    }
    .effect{
        display: inline;
        border-radius: 5px;
        padding: 5px;
    }
    .button-radius{
        border-radius: 30px !important;
        border: 1px #06cece solid !important;
    }
    .form-control{
        border-radius: 30px !important;
        border: 1px #06cece solid !important;
        background-color: 
    }
    .control-form{
        background-color: rgba(6,0,101,0.1) !important;
    }
    .text-titulo{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }
    .text-titulo-sidebar{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    .text-subtitulo{
        font-family: 'Poppins', sans-serif; 
        font-weight: 400;
    }
    .text-content{
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    .bg-nav{
    background-color: rgba(10,23,55,0.0) !important;    
    }

    .icon-text{
        font-size: 25px;
    }
    


