// Colors Imobanco Template
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

.bg-primary {
  background-color: #0e153a !important;
}

.bg-imobanco {
  background-color: #003e69 !important;
}

.bg-secondary {
  background-color: #0d47a1 !important;
}

.bg-success {
  background-color: #21e6c1 !important;
}

.bg-info {
  background-color: #3d5af1 !important;
}

.bg-warning {
  background-color: #ffd615 !important;
}

.bg-danger {
  background-color: #ff304f !important;
}

.bg-graylight {
  background-color: #f5f5f5 !important;
}

.text-primary {
  color: #0e153a !important;
}

.text-imobanco {
  color: #003e69 !important;
}

.text-secondary {
  color: #0d47a1 !important;
}

.text-success {
  color: #21e6c1 !important;
}

.text-info {
  color: #3d5af1 !important;
}

.text-warning {
  color: #ffd615 !important;
}

.text-danger {
  color: #ff304f !important;
}

.text-graylight {
  color: #f5f5f5 !important;
}
