.carousel {
    vertical-align: middle;
    width: 100%;
}
.contadigital{
    height: 600px;
    background-image: url("image/background-slide.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.img-crop{
  width: 100%;
  height: 180px;
  overflow: hidden;
  background-size: cover;
}