// Sass Color Imobanco
$imobanco: #003e69 !important;
$primary: #212121 !important;
$secondary: #0e153a !important;
$success: #21e6c1 !important;
$danger: #ff304f !important;
$warning: #ffd615 !important;
$info: #304ffe !important;
$dark: #0d47a1 !important;
$light: #1565c0 !important;
$medium: #3d5af1 !important;
$new: #22d1ee !important;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "imobanco":   $imobanco,
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "danger":     $danger,
    "warning":    $warning,
    "info":       $info,
    "dark":       $dark,
    "light":      $light,
    "medium":     $medium,
    "new":        $new
  ),
  $theme-colors
);

$blue:      #007bff !default;
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #e83e8c !default;
$red:       #dc3545 !default;
$orange:    #fd7e14 !default;
$yellow:    #ffc107 !default;
$green:     #28a745 !default;
$teal:      #20c997 !default;
$cyan:      #17a2b8 !default;
$white:     #ffffff !default;
$gray:      #f0f0f0 !default;
$gray-dark: #b0bec5 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray,
    "gray-dark":  $gray-dark
  ),
  $colors
);


/* Background color */
.bg-imobanco{
    background-color: #003e69 !important;
}
.bg-primary{
    background-color: #212121 !important;
}
.bg-secondary{
    background-color: #0e153a !important;
}
.bg-success{
    background-color: #21e6c1 !important;
}
.bg-danger{
    background-color: #ff304f !important;
}
.bg-warning{
    background-color: #ffd615 !important;
}
.bg-info{
    background-color: #304ffe !important;
}
.bg-dark{
    background-color: #0d47a1 !important;
}
.bg-light{
    background-color: #1565c0 !important;
}
.bg-medium{
    background-color: #3d5af1 !important;
}
.bg-new{
    background-color: #22d1ee !important;
}
.bg-cinza{
    background-color: #eceff1 !important;
}
.bg-cinza-1{
    background-color: #f0f0f0 !important;
}
.bg-cinza-2{
    background-color: #b0bec5 !important;
}

/* Background color */
.text-primary{
   color: #212121 !important;
}
.text-imobanco{
   color: #003e69 !important;
}
.text-secondary{
   color: #0e153a !important;
}
.text-success{
   color: #21e6c1 !important;
}
.text-danger{
   color: #ff304f !important;
}
.text-warning{
   color: #ffd615 !important;
}
.text-info{
   color: #304ffe !important;
}

.text-dark{
   color: #0d47a1 !important;
}
.text-light{
   color: #1565c0 !important;
}
.text-medium{
   color: #3d5af1 !important;
}
.text-new{
    color: #22d1ee !important;
}
.text-white{
    color: #ffffff !important;
}
.text-cinza{
    color: #37474f !important;
}