// customização das cores
.text-imobanco  { color:  #003e69 !important;}    
.text-primary   { color:  #212121 !important;}      
.text-secondary { color:  #0e153a !important;}    
.text-success   { color:  #21e6c1 !important;}      
.text-danger    { color:  #ff304f !important;}        
.text-warning   { color:  #ffd615 !important;}      
.text-info      { color:  #039be5 !important;}          
.text-dark      { color:  #0d47a1 !important;}          
.text-light     { color:  #1565c0 !important;}        
.text-medium    { color:  #3d5af1 !important;}        
.text-new       { color:  #030303 !important;}

.bg-imobanco  { background-color:  #003e69 !important;}    
.bg-primary   { background-color:  #212121 !important;}      
.bg-secondary { background-color:  #0e153a !important;}    
.bg-success   { background-color:  #21e6c1 !important;}      
.bg-danger    { background-color:  #ff304f !important;}        
.bg-warning   { background-color:  #ffd615 !important;}      
.bg-info      { background-color:  #039be5 !important;}          
.bg-dark      { background-color:  #0d47a1 !important;}          
.bg-light     { background-color:  #1565c0 !important;}        
.bg-medium    { background-color:  #3d5af1 !important;}        
.bg-new       { background-color:  #030303 !important;}

.bg-gray-50{ background-color: #eeeeee;}
.text-gray-100{ color: #b9b9b9; }
.text-gray-200{ color: #6d6d6d; }
.text-gray-300{ color: #3d3d3d; }