// Fonts site imobanco
.text-titulo{
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 600;
}
.text-titulo-sidebar{
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 500;
}
.text-subtitulo{
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 400;
}
.text-content{
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 300;
}
p{
    font-family: 'Baloo Tamma 2', cursive !important;
}