nav {
  padding: 0.3rem;
  transition: all 0.5s;
  color: #003e69;
  background: #ffffff;
  .logo{
    background-image: url("static/image/imobanco-azul.png");
    background-size: 200px;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    
  }
  
}
nav a {
  margin-right: 1rem;
  color: #003e69;
}
nav.shrink {
  padding: 0.3rem;
  background: #003e69;
  color: #ffffff;
  .logo{
    background-image: url("static/image/imobanco-branco.png");
    background-size: 200px;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
}
.navbarbox {
  text-decoration: none;
  padding: 13px 5px 0px 5px;
  background-color: none !important;
}
}
nav.shrink a{
  padding: 0.3rem;
  background: #003e69;
  color: #ffffff;
}



@media (max-width: 786px) {
  
}
.color-mute {
  background-color: #f5f5f5;
  border-bottom: 2px solid rgb(4, 95, 170);
}
.navbarbox {
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  background-color: none !important;
}
.navbarbox a:hover{
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  background-color: none !important;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

// Nav Top
.navtop {
  position: absolute;
  top: 4%;
  right: 10%;
  z-index: 1;
}
